openapi: 3.0.2
info:
    title: Tutorial site API
    description: The API for the NextJS tutorial site developed by DevIsle. 
    version: 1.0.0
    contact: 
        name: DevIsle Team
        
tags: 
  - name: CMS
    description: All CMS related endpoints

paths:
  /cms/auth/login:
    post:
      tags: 
        - CMS
      summary: Logs into the CMS
      description: Verifies credentials and returns some meta data of the user, alongside a 2 day JWT in the body.
      operationId: cmsUserLogin
      requestBody:
        $ref: "#/components/requestBodies/CMSUserLoginBody"
      responses:
        200:
          description: A confirmed login
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CMSUserLoginRespModel"
        401:
          $ref: "#/components/responses/Unauthorised"
        503:
          $ref: "#/components/responses/ServiceUnavailable"

  /cms/auth/confirm:
    get:
      tags: 
      - CMS
      summary: Verifys the users JWT
      description: Performs a verification check of the users JWT and responds accordingly.
      operationId: verifyCmsUsersJWT
      responses:
        200:
          description: Responds with the **username** of the user and their **userId** if the token is successfully verified.
          content:
            application/json:
              schema:
                $ref: "#/components/requestBodies/CMSUserLoginBody"
              example: 
                {
                  username: "Alex",
                  userId: "5ech7083300gh30f202efaf9"
                }
        401:
          $ref: "#/components/responses/Unauthorised"
      security:
      - BearerAuth: []

  /cms/tutorials/all:
    get:
      tags:
      - CMS
      summary: Get all tutorials
      description: Gets all the tutorials in their **full** format.
      operationId: getAllTutorialsCMS
      responses:
        200:
          description: Responds with a list of **full** tutorials.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CMSAllTutorialsArrayModel"
        500:
          description: Internal server error, will occur under external services failing
          content:
            text/plain:
              schema:
                type: string
                example: "Something went wrong on our side! See here: Example Error"
      security:
      - BearerAuth: []

  /cms/tutorials/create:
    post:
      tags:
      - CMS
      summary: Create tutorial
      description: Creates a tutorial.
      operationId: createATutorialCMS
      requestBody:
        $ref: "#/components/requestBodies/CMSCreateUpdateTutorialBody"
      responses:
        201:
          description: "Tutorial created *successfully*.  \n - `ok` is boolean, in values 0/1.  \n\n - `n` is document affected, in boolean, values 0/1."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MongoUpdateResponse"
        400:
          description: Bad request, will occur if the request body is incorrect
          content:
            text/plain:
              schema:
                type: string
                example: "Server cannot process this request!"
        500:
          description: Internal server error, will occur under external services failing
          content:
            text/plain:
              schema:
                type: string
                example: "Something went wrong on our side! See here: Example Error"
      security:
      - BearerAuth: []
  
  /cms/tutorials/update:
    put:
      tags:
      - CMS
      summary: Update a tutorial
      description: Updates a tutorial by it's `ObjectId(id)`
      operationId: updateATutorialCMS
      parameters:
        - in: query
          description: The `ObjectId(id)` of the tutorial we wish to update.
          name: tutId
          required: true
          schema:
            type: string
          example: /cms/tutorials/update?tutId=5ec6aa4993014b10402122b2
      requestBody:
        $ref: "#/components/requestBodies/CMSCreateUpdateTutorialBody"
      responses:
        200:
          description: "Tutorial updated *successfully*.  \n - `ok` is boolean, in values 0/1.  \n\n - `n` is document affected, in boolean, values 0/1.  \n - `nModified` is the amount of documents updated/changed."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExtendedMongoUpdateResponse"
        400:
          description: "Bad request, will occur if:  \n - the request body is incorrect  \n\n - the `ObjectId(id)` string byte size is incorrect"
          content:
            text/plain:
              schema:
                type: string
                example: "Server cannot process this request!"
      security:
      - BearerAuth: []

  # PUBLIC RESOURCES
  #
  # Get tutorials
  #    Get tut by id
  #       /public/tutorials/get?tutId=*
  #
  #    Get offset/outset amount of tutorials in a given category
  #       /public/tutorials/get?category=*&offset=*&outset=*
  #
  # Like tutorials
  #       /public/tutorials/like?tutId=*
  #
  # Categories
  #     Get cat by id
  #       /public/tutorials/categories?catId=*
  #
  #     Get cats in offset/outset
  #       /public/tutorials/categories?offset=*&outset=*

components:
  schemas:
    MongoUpdateResponse:
      type: object
      properties:
        ok:
          type: integer
        n:
          type: integer
      required:
        - ok
        - "n"
    ExtendedMongoUpdateResponse:
      allOf:
        - $ref: "#/components/schemas/MongoUpdateResponse"
        - type: object
          properties:
            nModified: 
              type: integer
          required:
            - nModified
    CMSUserLoginModel:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      required: 
        - username
        - password
    CMSUserLoginRespModel:
      allOf:
        - type: object
          properties:
            successfulLogin:
              type: boolean
            jwt:
              type: string
          required:
            - successfulLogin
            - jwt
        - $ref: "#/components/schemas/CMSUserLoginModel"
    CMSTutorialModel:
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
        html:
          type: string
        markdown:
          type: string
        category:
          type: string
        authorId:
          type: string
        authorName:
          type: string
        isAvailable:
          type: boolean
      required:
        - _id
        - name
        - html
        - markdown
        - category
        - authorId
        - authorName
        - isAvailable
    CMSAllTutorialsArrayModel:
      type: array
      items: 
        $ref: "#/components/schemas/CMSTutorialModel"
    TutorialCreateUpdateModel:
      type: object
      properties:
        name:
          type: string
        html:
          type: string
        markdown:
          type: string
        # TODO: Limit the categories to reference a category collection
        category:
          type: string
      required:
        - name
        - html
        - markdown
        - category

  responses:
    ServiceUnavailable:
      description: Service unavailable
      content:
        text/plain:
          schema:
            type: string
            example: Error object schema todo
    Unauthorised:
      description: Unauthorised
      content:
        text/plain:
          schema:
            type: string
            example: Access denied! Unauthorised.

  requestBodies:
    CMSCreateUpdateTutorialBody:
      description: The schema to create/update a tutorial, a.k.a *PartialTutorial* in app.
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/TutorialCreateUpdateModel"
    CMSUserLoginBody:
      description: The login credential schema
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CMSUserLoginModel"
            
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
    
servers:
    - url: http://127.0.0.1:3000/
      description: Development

