.TutorialManager {
    min-width: 10%;
    max-width: 10%;
    line-height: 0;

    .create-btn {
        color: #757575;
        padding: 0em;
        border-color: #e0e0e0;
        border-width: 1px;
        width: 100%;
        height: 2.9em;
        cursor: pointer;
    }

    .tutorial-card {
        margin-top: 4px;
        display: flex;
        width: 100%;
        height: auto;
    }
}

// Modal styles
.creator-modal {
    .modal-container {
        display: flex;
        align-items: center;
        justify-content: center;
        .modal-body {
            margin-top: 10vh;
        }
    }
}