/*
*  Contains the typography variables
*  
*  @todo check if works on component modules if it doesn't works then import it on top on _app.tsx
*/
$titleSize: 24px;
$subtitleSize: 21px;
$contentSize: 21px;
