# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

# Requires mongo env
# Requires env vars setting up
# Requires step breakdown

name: Backend Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    env:
      PORT: ${{ secrets.PORT }}
      DB_URL: ${{ secrets.DB_URL }}
      DB_NAME: ${{ secrets.DB_NAME }}
      BCRYPT_SALT: ${{ secrets.BCRYPT_SALT }}
      JWT_KEY: ${{ secrets.JWT_KEY }}
      JWT_EXPIRY: ${{ secrets.JWT_EXPIRY }}

    defaults:
      run:
        shell: bash
        working-directory: ./backend
        
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [13.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm i
    - run: npm run build --if-present
    - run: npm run test:unit
